<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/menu.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Pizzas</h1>
        <ul class="menu-list">
            <% menu.forEach(pizza=> { %>
                <li class="pizza ">
                    <img class="<%= pizza.soldOut ? 'sold-out' : '' %>" src="<%= pizza.imageUrl %>"
                        alt="<%= pizza.name %>">
                    <div class="pizza__body">
                        <h3 class="pizza__title">
                            <%= pizza.name %>
                        </h3>
                        <p class="pizza__ingredients">Ingredients: <%= pizza.ingredients.join(', ') %></p>
                        <p class="pizza__price">$<%= pizza.unitPrice %></p>
                    <% if (pizza.soldOut) { %>
                    <span class="pizza__notice">Sold Out</span>
                    <% } %>
                </div>
      </li>
    <% }) %>
  </ul>
    </div>
    
</body>
</html>